ui-dropdown {
    margin-bottom: 20px;
}

.picker-wrapper {
    width: 300px;
    height: 350px;
}
.picker-wrapper-abs {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 70%;
    height: 80%;
}

.calendar-wrapper {
    width: 500px;
    height: 500px;
}
.abs-mid {
    position: absolute;
    top: 300px;
    left: 300px;
}

.abs-bot {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 300px;
}

.top-right {
    position: absolute;
    top: 150px;
    right: 100px;
}
.top-middle {
    position: absolute;
    top: 40%;
    /* bottom: 50px; */
    left: 50%;
    /* max-height: 300px; */
}
.max-test {
    max-height: 300px;
}

/* popup styles */
.popup-box {
    width: 200px;
    height: 100px;
    border: 1px solid #333;
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

button {
    border: 1px solid rgb(29, 89, 129);
    background-color: rgb(73, 180, 252);
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
}

button:hover {
    background-color: rgb(152, 214, 255);
}

.big-pop {
    position: absolute;
    top: 300px;
    left: 200px;
}

.big-pop-bottom {
    position: absolute;
    bottom: 200px;
    left: 200px;
}

.bigtext-box {
    width: 150px;
}

.big-ui-popup {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.right {
    position: absolute;
    top: 100px;
    right: 25px;
}

.bottom {
    position: absolute;
    left: 25px;
    bottom: 50px;
}

.bottom-right {
    position: absolute;
    right: 25px;
    bottom: 50px;
}

/* tooltip styles */
ui-icon[type='error'] {
    position: absolute;
    right: 50px;
    top: 100px;
}

ui-icon[type='books'] {
    position: absolute;
    left: 200px;
    top: 350px;
}

ui-icon[type='file-video'] {
    position: absolute;
    left: 500px;
    top: 300px;
}

ui-icon[type='file-powerpoint'] {
    position: absolute;
    left: 500px;
    top: 500px;
}

ui-icon[type='folder'] {
    position: absolute;
    left: 200px;
    top: 700px;
}

.large-tooltip {
    width: 200px;
}

/* radios */
ui-radio {
    margin-bottom: 5px;
}
ui-radio.small .radio-button {
    width: 20px;
    height: 20px;
}
ui-radio.small span {
    font-size: 13px;
}

.a11y {
    margin-bottom: 20px;
}
.dyn-icon {
    position: relative;
    left: 300px;
}

.ui-button.btn-top {
    position: relative;
    left: 200px;
    top: 50px;
}
.ui-button.btn-right {
    position: relative;
    left: 300px;
    top: 50px;
}
.ui-button.btn-left {
    position: relative;
    left: 400px;
    top: 100px;
}
.ui-button.btn-bottom {
    position: relative;
    left: 500px;
    top: 100px;
}

.ui-button.btn-bottom-shift {
    position: relative;
    top: 150px;
    left: 100%;
    transform: translateX(-100%);
}

.ui-button.btn-bottom-shift-left {
    position: relative;
    top: 150px;
    left: 25px;
}
