* {
    box-sizing: border-box;
}
ui-icon {
    display: inline-block;
}

.ui-label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.ui-input{
    font-size: 16px;
    padding: 10px;
}

.ui-button {
    display: block;
    padding: var(--btn-pad);
    font-size: var(--btn-txt-size);
    color: var(--btn-txt);
    background-color: var(--btn-bg);
    border: var(--btn-brd);
    border-radius: var(--btn-rad);
    outline: 0;
    cursor: pointer;
    &:hover {
        background-color: var(--btn-bg-hvr);
    }
    &:focus {
        border-color: var(--btn-brd-focus);
    }
    &.secondary {
    }
    &.tertiary {
        background-color: transparent;
        border-color: transparent;
        &:hover {
            background-color: var(--btn-bg-hvr);
        }
        &:focus {
            border-color: var(--btn-brd-focus);
        }
    }
    &.link {
    }
}

.ui-button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}
