ui-checklist {
    display: block;
    ui-input{
        input{
            padding: 10px;
            border-radius: 3px;
        }
    }
    ui-minipop {
        .ui-list {
            max-height: 200px;
            overflow: auto;
            ul.list {
            }
            li {
                &.select-all-toggle{
                    background-color: var(--chk-all);
                }
                ui-checkbox {
                    display: flex;
                    
                }
            }
        }
    }
}
