// $brd-clr: #ccc;
// $brd: 1px solid $brd-clr;
// $shadow: -1px 1px 2px rgba(0,0,0,0.4);

// // colors
// $gray1: #f2f2f2;
// $gray2: #D8D8D8;
// $gray3: #CCCCCC;
// $gray35: #b2b2b2;
// $gray4: #868586;
// $gray5: #666666;
// $gray6: #4d4d4d;
// $gray7: #333333;
// //
// $blue-lt: rgb(204, 246, 255);
// $blue-lt-lt: rgb(232, 251, 255);
// $blue-lt-lt-lt: rgb(248, 254, 255);
// $blue-lt-dk: rgb(107, 196, 214);
// //
// $teal: #54C5DE;
// $blue: #058CD4;
// $blue-hvr: #0597e4;
// $blue-lt-hvr: #55cfe8;
// $blue-dk: #026AA2;
// $green-lt: #8FC050;
// $green-dk: #7EB23B;
// $seagreen: #54C5DE;
// $red-lt: #ff8280;

// // aliases
// $focus: #83bffc;
// $focus-dk: #6c9fd8;

// $primary: $blue-lt;
// $primary-hvr: $blue-lt-lt;
// $primary-act: $blue-lt-lt-lt;

// // mapped
// $focus-brd: $focus-dk;
// $error: #e34e19;
// $dsbl-lt: #ddd;
// $dsbl-dk: #aaa;
// $hvr: $gray1;
// $slt: $gray7;
// $brd-clr-lt: #d8d8d8;
// $lbl: $gray35;

// $tool-dk: $gray5;
// $tool-lt: $gray4;


// $btn-bk: $primary; 
// $btn-bk-hvr: $primary-hvr;
// $btn-bk-act: $primary-act;
// $btn-dsbl: #ccc;
// $btn-dsbl-clr: #999;

:root {
    // colors
    --primary: #2275ec;
    --primary-very-light: #edf2fa;
    --disabled: #ddd;
    --focus-brd: blue;
    // 
    // error
    --error-txt: red;
    //
    --label-txt: #666;
    --label-bk: #eee;
    --label-dsbl: #ddd;
    //
    // inputs
    --inp-brd: #d8d8d8;
    --inp-placeholder: #ccc;
    //
    // buttons
    --btn-brd: 1px solid #d8d8d8;
    --btn-bg: rgb(204, 246, 255);
    --btn-bg-hvr: rgb(232, 251, 255);
    --btn-txt: black;
    --btn-txt-size: 14px;
    --btn-pad: 10px;
    --btn-rad: 2px;
    --btn-brd-focus: #6c9fd8;
    //
    // dropdown
    --drop-btn-pad: 5px 10px 8px 10px;
    --drop-btn-pad-thin: 1px 4px 3px 4px;
    --drop-btn-bg: white;
    --drop-btn-bg-hvr: #ddd;
    //
    // tooltip
    --tip-bg: white;
    --tip-txt: black;
    --tip-brd: rgb(92, 92, 92);
    --tip-brd-rad: 3px;
    --tip-txt-size: 13px;
    --tip-pad: 6px; 
    --tip-arrow-size: 6px;
    --tip-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    --tip-bg-error: rgb(226, 0, 0);
    --tip-txt-error: rgb(255, 255, 255);
    --tip-brd-error: rgb(226, 0, 0);
    //
    // list
    --list-bg: white;
    --list-brd: 1px solid #ccc;
    --list-brd-focus: black;
    //
    --list-item-txt-size: 14px;
    --list-item-txt: #333;
    --list-item-pad: 5px 10px;
    --list-item-bg: transparent;
    --list-item-hvr: #eee;
    --list-item-current: #eee;
    --list-item-selected: #333;
    --list-item-selected-txt: white;
    --list-item-focus: #6c9fd8;
    --list-item-bg-disabled: #ccc;
    --list-item-txt-disabled: #666;
    --list-item-label-bg: transparent;
    --list-item-label-pad: 10px 5px 5px 5px;
    --list-item-label-txt: rgb(176, 176, 176);
    --list-item-group-txt: rgb(176, 176, 176);
    --list-item-group-brd: #e0e0e0;
    --list-item-divider: #ccc;
    --list-item-divider-pad: 5px;
    --list-button: #333;
    --list-button-hvr: #ddd;
    
    //
    // checkbox
    --chk-size: 16px;
    --chk-brd: 1px solid #ccc;
    --chk-bg: #0073d6;
    --chk-bg-hvr: #4d9be0;
    --chk-focus-brd: #6c9fd8;
    --chk-focus-txt: #4a698d;
    --chk-hvr: #f2f2f2;

    //
    // data-picker
    --cal-focus: blue;
    --cal-brd: #ccc;
    --cal-bg: #fff;
    --cal-hov: #dadada;
    --cal-sel: #5dbae0;
    --cal-hdr-hvr: #d2f0ff;
    --cal-hdr-nav: #0968d2;
    --cal-link: #0968d2;
    --cal-off-txt: #999;
    --cal-today: #b1b1b1;
    --cal-today-txt: #fff;
    --cal-dsbl: white;
    --cal-dsbl-txt: #999;
    --cal-dsbl-sel: #9dc8da;
    --cal-sel-txt: white;
    --cal-range: #beecff;
    --cal-range-select: #5dbae0;
    --cal-warn-brd: #be4304;
    --cal-warn-bk: #fffdd5;
    --cal-error: red;
    
    // minitags
    --minitag-width: 300px;
    --tag-color: #d7ebf7;
    --tag-radius: 4px;
}