$brd-clr: #ccc;
$brd: 1px solid $brd-clr;
$shadow: -1px 1px 2px rgba(0,0,0,0.4);

// colors
$gray1: #f2f2f2;
$gray2: #D8D8D8;
$gray3: #CCCCCC;
$gray35: #b2b2b2;
$gray4: #868586;
$gray5: #666666;
$gray6: #4d4d4d;
$gray7: #333333;
//
$blue-lt: rgb(204, 246, 255);
$blue-lt-lt: rgb(232, 251, 255);
$blue-lt-lt-lt: rgb(248, 254, 255);
$blue-lt-dk: rgb(107, 196, 214);
//
$teal: #54C5DE;
$blue: #058CD4;
$blue-hvr: #0597e4;
$blue-lt-hvr: #55cfe8;
$blue-dk: #026AA2;
$green-lt: #8FC050;
$green-dk: #7EB23B;
$seagreen: #54C5DE;
$red-lt: #ff8280;

// aliases
$focus: #83bffc;
$focus-dk: #6c9fd8;

$primary: $blue-lt;
$primary-hvr: $blue-lt-lt;
$primary-act: $blue-lt-lt-lt;

// mapped
$focus-brd: $focus-dk;
$error: #e34e19;
$dsbl-lt: #ddd;
$dsbl-dk: #aaa;
$hvr: $gray1;
$slt: $gray7;
$brd-clr-lt: #d8d8d8;
$lbl: $gray35;

$tool-dk: $gray5;
$tool-lt: $gray4;


$btn-bk: $primary; 
$btn-bk-hvr: $primary-hvr;
$btn-bk-act: $primary-act;
$btn-dsbl: #ccc;
$btn-dsbl-clr: #999;

:root {
    --btn-brd: 1px solid #d8d8d8;
    --btn-bg: rgb(204, 246, 255);
    --btn-bg-hvr: rgb(232, 251, 255);
    --btn-txt: black;
    --btn-txt-size: 14px;
    --btn-pad: 10px;
    --btn-rad: 2px;
    --btn-brd-focus: #6c9fd8;
    //
    --drop-btn-pad: 5px 10px 8px 10px;
    --drop-btn-pad-thin: 1px 4px 3px 4px;
    --drop-btn-bg: white;
    --drop-btn-bg-hvr: #ddd;
    //
    --tip-bg: white;
    --tip-txt: black;
    --tip-brd: rgb(92, 92, 92);
    --tip-brd-rad: 3px;
    --tip-txt-size: 13px;
    --tip-pad: 6px; 
    --tip-arrow-size: 6px;
    --tip-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    --tip-bg-error: rgb(226, 0, 0);
    --tip-txt-error: rgb(255, 255, 255);
    --tip-brd-error: rgb(226, 0, 0);
    //
    --list-bg: white;
    --list-brd: 1px solid #ccc;
    --list-brd-focus: black;
    //
    --list-item-txt-size: 14px;
    --list-item-txt: #333;
    --list-item-pad: 5px 10px;
    --list-item-bg: transparent;
    --list-item-hvr: #eee;
    --list-item-current: #eee;
    --list-item-selected: #333;
    --list-item-focus: #83bffc;
    --list-item-bg-disabled: #ccc;
    --list-item-txt-disabled: #666;
    // --list-item-label-font: 
    --list-item-label-bg: transparent;
    --list-item-label-pad: 10px 5px 5px 5px;
    --list-item-label-txt: rgb(176, 176, 176);
    --list-item-group-txt: rgb(176, 176, 176);
    --list-item-group-brd: #e0e0e0;
    --list-item-divider: #ccc;
    --list-item-divider-pad: 5px;
    
    
}