ui-dropdown {
    display: block;
    button.ui-button {
        background-color: var(--drop-btn-bg);
        padding: var(--drop-btn-pad);
        max-width: 100%;
        & > ui-icon {
            display: inline-block;
            vertical-align: middle;
            width: 10px;
        }
        & > span {
            vertical-align: middle;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(100% - 20px);
        }
        &:hover {
            background-color: var(--drop-btn-bg-hvr);
        }
    }
    ui-icon {
        margin-left: 10px;
    }
}

ui-popup.dropdown{
    border: var(--list-brd);
    ul{
        border: 0;
    }
}