ui-dropdown {
    display: block;
    .drop-input {
        background-color: var(--drop-btn-bg);
        padding: var(--drop-btn-pad);
        max-width: 100%;
        text-align: left;
        & > ui-icon {
            display: inline-block;
            vertical-align: middle;
            width: 10px;
        }
        & > span {
            vertical-align: middle;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(100% - 20px);
        }
        &:hover {
            background-color: var(--drop-btn-bg-hvr);
        }
    }
    &[disabled]{
        .drop-input {
            pointer-events: none;
            background-color: var(--disabled);
        }
    }
    ui-icon {
        margin-left: 10px;
    }
    &.thin {
        button.ui-button {
            padding: var(--drop-btn-pad-thin);
            font-size: 12px;
        }
    }
    &[no-arrow] {
        button.ui-button {
            & > span {
                width: 100%;
            }
        }
    }
}

ui-popup.dropdown {
    border: var(--list-brd);
    ul {
        border: 0;
    }
}
