ui-icon {
    position: relative;
    &[type="spinner"]{
        animation-name: busy-spin;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes busy-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}