@import "./colors.scss";

ui-input{
    display: block;
    position: relative;
    border: 1px solid var(--inp-brd); 
    border-radius: 2px;
    &.focus{
        border: 1px solid var(--focus-brd);
    }
    label{
        display: block;
    }
    input{
        border: 0;
        background: none;
        padding: 6px;
        font-size: 16px;
        width: 100%;
        outline: 0;
        &::placeholder {
            color: var(--inp-placeholder);
        }
    }
    &.has-icon{
        display: flex;
        align-items: center;
        input{
            flex: 1;
        }
        ui-icon{
            flex: 0 1 10px;
            margin: 0 5px;
        }
    }
    
}
