@import './colors.scss';

ui-input {
    display: block;
    position: relative;
    border-radius: 2px;
    &.focus {
        input {
            border: 1px solid var(--focus-brd);
        }
    }
    label {
        display: block;
    }
    input {
        // border: 0;
        border: 1px solid var(--inp-brd);
        background: none;
        padding: 6px;
        font-size: 16px;
        width: 100%;
        outline: 0;
        &::placeholder {
            color: var(--inp-placeholder);
        }
    }
    &.has-icon {
        display: flex;
        align-items: center;
        input {
            flex: 1;
        }
        ui-icon {
            flex: 0 1 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            &[type='close'] {
                cursor: pointer;
            }
        }
    }
}
