@import './colors.scss';

ui-input {
    display: block;
    position: relative;
    .input-border {
        display: flex;
        align-items: center;
        input {
            flex: 1;
        }
        ui-icon {
            flex: 0 1 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            &[type='close'] {
                cursor: pointer;
            }
        }
        background: white;
        border: 1px solid var(--inp-brd);
        border-radius: 2px;
    }
    &.focus {
        .input-border {
            border: 1px solid var(--focus-brd);
        }
    }
    &[readonly] {
        pointer-events: none;
        .input-border {
            border-color: #eee;
        }
        input {
            font-weight: 300;
            &::placeholder {
                color: var(--disabled);
            }
        }
    }
    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        border: 0;
        background: none;
        padding: 10px;
        font-size: 16px;
        width: 100%;
        outline: 0;
        &::placeholder {
            color: var(--inp-placeholder);
        }
    }
}
