ui-list {
    display: block;
    &:focus{
        border-color: black;
    }
    &[readonly], &[disabled]{
        li{
            cursor: default;
            &:hover:not(.group):not(.label):not([readonly]):not([aria-selected="true"]) {
                background-color: transparent;
            }
        }
    }
    ul {
        border: $brd;
        background-color: white;
        list-style: none;
        margin: 0;
        padding: 0;
        outline: none;
        &:focus{
            border-color: $focus-brd;
        }
        li {
            padding: 10px;
            cursor: pointer;
            border: 0;
            outline: 0;
            &:hover:not(.group):not(.label):not([readonly]):not([aria-selected="true"]) {
                background-color: #eee;
            }
            &:focus {
                outline: 0;
                box-shadow: 0 0 2px 2px $focus inset;
            }
            &[aria-current] {
                background-color: #ccc;
                &:focus {
                    box-shadow: 0 0 10px $focus inset;
                }
            }
            &[aria-selected] {
                background-color: #333;
                color: white;
                &:focus {
                    box-shadow: 0 0 10px $focus inset;
                }
            }
            
            &[disabled] {
                background-color: #ccc;
                color: #666;
                font-style: italic;
                cursor: not-allowed;
                pointer-events: none;
            }
            &.label {
                background-color: #cecece;
                pointer-events: none;
            }
            &.group {
                padding: 0 20px;
                color: rgba(0, 0, 0, 0.322);
                text-align: right;
                font-weight: bold;
                pointer-events: none;
                &:before {
                    content: "";
                    display: block;
                    border-top: 1px solid #e0e0e0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
