ui-list {
    display: block;
    &[readonly],
    &[disabled] {
        li {
            cursor: default;
            &:hover:not(.group):not(.label):not([readonly]):not([aria-selected='true']) {
                background-color: transparent;
            }
        }
    }
    ul {
        border: var(--list-brd);
        background-color: var(--list-bg);
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 21px;
        outline: none;
        &:focus {
            border-color: var(--list-brd-focus);
        }
        li {
            padding: var(--list-item-pad);
            font-size: var(--list-item-txt-size);
            color: var(--list-item-txt);
            cursor: pointer;
            border: 0;
            outline: 0;
            &:hover:not(.group):not(.label):not(.divider):not([readonly]):not([aria-selected='true']) {
                background-color: var(--list-item-hvr);
            }
            &:focus {
                outline: 0;
                box-shadow: 0 0 2px 2px var(--list-item-focus) inset;
            }
            &[aria-current] {
                background-color: var(--list-item-current);
                &:focus {
                    box-shadow: 0 0 10px var(--list-item-focus) inset;
                }
            }
            &[aria-selected] {
                background-color: var(--list-item-selected);
                color: white;
                &:focus {
                    box-shadow: 0 0 10px var(--list-item-focus) inset;
                }
            }
            &.is-editing{
                background-color: var(--list-bg);
            }
            &[disabled] {
                background-color: var(--list-item-bg-disabled);
                color: var(--list-item-txt-disabled);
                font-style: italic;
                cursor: not-allowed;
                pointer-events: none;
            }
            &.label {
                font: bold 12px sans-serif;
                padding: var(--list-item-label-pad);
                color: var(--list-item-label-txt);
                background-color: var(--list-item-label-bg);
                pointer-events: none;
            }
            &.group {
                padding: 0 20px;
                color: var(--list-item-group-txt);
                text-align: right;
                font-weight: bold;
                pointer-events: none;
                &:before {
                    content: '';
                    display: block;
                    border-top: 1px solid var(--list-item-group-brd);
                    margin-bottom: 10px;
                }
            }
            &.divider {
                padding: 0;
                margin: var(--list-item-divider-pad);
                border-bottom: 1px solid var(--list-item-divider);
            }
            ui-input{
                margin: 0 -9px;
                background-color: var(--primary-very-light);
                input{
                    outline: 0;
                }
            }
        }
    }

    &[editable] {
        //
    }
    .edit-bar {
        text-align: right;
        button {
            border: 0;
            border-radius: 50%;
            background: none;
            font-size: 12px;
            width: 24px;
            height: 24px;
            margin-left: 2px;
            margin-top: 2px;
            cursor: pointer;
            opacity: 0.2;
            color: var(--list-button);
            &.btn-list-edit{
                pointer-events: none;
            }
        }
    }
    .edit-bar {
        &:hover {
            button.btn-list-add {
                opacity: 1;
            }
        }
        button.btn-list-add {
            cursor: pointer;
            pointer-events: auto;
            &:hover {
                background-color: var(--list-button-hvr);
            }
        }
    }
    &.has-selected {
        .edit-bar {
            &:hover {
                button {
                    opacity: 1;
                }
            }
            button {
                cursor: pointer;
                pointer-events: auto;
                &:hover {
                    background-color: var(--list-button-hvr);
                }
            }
        }
    }
}
