ui-minipop {
    display: none;
    position: absolute;
    z-index: 10;
    .listwrap {
        height: 200px;
        background-color: white;
        overflow: auto;
        ul {
            border: 0;
        }
    }

    ui-list ul li[aria-selected] {
        background-color: white;
        color: #ccc;
        pointer-events: none;
    }

    &.open{
        display: block;
    }

    .apply-container{
        .ui-button{
            width: 100%;
        }
    }
}