$on: $blue;
$hvr: $blue-hvr;
$off: transparent;
$size: 16px;
$sm: 18px;
$brd: #ccc;
$tool-dk: #333;

ui-radio{
    display: inline-flex;
    flex-direction: row;
    
    label{
        flex: 1 1 auto;
        display: block;
        cursor: pointer;
    }
    .radio-button{
        flex: 0 0 $size;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $brd;
        border-radius: 50%;
        width: $size;
        height: $size;
        &:after{
            content: '';
            position: absolute;
            border-radius: 50%;
            display: inline-block;
            background-color: $on;
            width: 0;
            height: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: width 100ms ease-in, height 100ms ease-in;
        }
    }
    &[checked]{
        .radio-button{
            color: black;
        }
        &:not([readonly]):hover{
            icon-check{
                background-color: $hvr;
            }
        }
    }

    &[disabled]{
        label{
            cursor: default;
            color: $btn-dsbl-clr;
            font-style: italic;
        }
        .radio-button{
            background-color: $btn-dsbl;
        }
    }
    &[readonly]{
        label{
            cursor: default;
        }
    }

    &:focus{
        outline: 0;
        .radio-button{
            border: 1px solid $focus-dk;
            box-shadow: 0 0 5px $focus;
        }
    }
}

ui-radio-buttons{
    display: inline-block;
    & > label{
        display: block;
    }
    ui-radio{
        display: inline-flex;
        margin-right: 10px;
    }
    button.btn{
        outline: 0;
        border: 1px solid $tool-dk;
        background-color: white;
        &[checked="true"] {
            background-color: $tool-dk;
            color: white;
            &:focus{
                box-shadow: inset 0 0 10px rgb(180, 216, 250);
            }
        }
        border-right-width: 0;
        border-radius: 0;
        &:first-of-type{
            border-radius: 4px 0 0 4px;
        }
        &:last-of-type{
            border-right-width: 1px;
            border-radius: 0 4px 4px 0;
        }
        &:focus{
            box-shadow: inset 0 0 10px rgba(130,190,250,1) ;
        }
    }

}