$size: 16px;
$brd: #ccc;

ui-radio{
    display: inline-flex;
    flex-direction: row;
    
    .ui-label{
        flex: 1 1 auto;
        margin-left: 5px;
        display: block;
        cursor: pointer;
        align-self: center;
    }
    .radio-button{
        flex: 0 0 $size;
        align-self: center;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border: var(--chk-brd);
        border-radius: 50%;
        width: $size;
        height: $size;
        cursor: pointer;
        &:after{
            content: '';
            position: absolute;
            border-radius: 50%;
            display: inline-block;
            background-color: var(--chk-bg);
            width: 0;
            height: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: width 100ms ease-in, height 100ms ease-in;
        }
        &:hover{
            // background-color: $hvr;
            background-color: var(--chk-hvr);
        }
    }
    &[checked]{
        .radio-button{
            color: black;
            &:after{
                width: $size - 4px;
                height: $size - 4px;
            }
        }
        &:not([readonly]):hover{
            icon-check{
                // background-color: $hvr;
                background-color: var(--chk-hvr);
            }
        }
    }

    &[disabled]{
        label{
            cursor: default;
            color: var(--label-dsbl);
            font-style: italic;
        }
        .radio-button{
            // background-color: $btn-dsbl;
            background-color: var(--label-dsbl);
        }
    }
    &[readonly]{
        label{
            cursor: default;
        }
    }

    &:focus{
        outline: 0;
        .radio-button{
            // border: 1px solid $focus-dk;
            // color: var(--chk-focus-txt);
            box-shadow: 0 0 5px var(--chk-focus-txt);
            border: 1px solid var(--chk-focus-brd);
        }
    }
}

ui-radio-buttons{
    display: block;
    margin-bottom: 20px;
    & > label{
        display: block;
        margin-bottom: 5px;
    }
    ui-radio{
        display: inline-flex;
        margin-right: 10px;
    }
    button.btn{
        outline: 0;
        border: var(--btn-brd);
        background-color: white;
        cursor: pointer;
        &[checked="true"] {
            background-color: var(--chk-bg);
            color: white;
            &:focus{
                box-shadow: inset 0 0 10px rgb(180, 216, 250);
            }
            &:hover{
                // background-color: $slt;
                background-color: var(--chk-bg);
            }
        }
        border-right-width: 0;
        border-radius: 0;
        &:first-of-type{
            border-radius: 4px 0 0 4px;
        }
        &:last-of-type{
            border-right-width: 1px;
            border-radius: 0 4px 4px 0;
        }
        &:focus{
            box-shadow: inset 0 0 10px rgba(130,190,250,1) ;
        }
        &:hover{
            // background-color: $hvr;
            background-color: var(--chk-hvr);
        }
    }

}