// this is a className, not a node name
.ui-tooltip {
    background-color: var(--tip-bg);
    color: var(--tip-txt);
    box-shadow: var(--tip-shadow);
    padding: var(--tip-pad);
    font-size: var(--tip-txt-size);
    border-radius: var(--tip-brd-rad);
    border: 1px solid var(--tip-brd);
    &:before {
        // R
        content: ' ';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        border-width: var(--tip-arrow-size);
        border-style: solid;
        border-color: transparent var(--tip-brd) transparent transparent;
    }
    &.side50:before{
        transform: none;
        top: 50px;
    }
    &.L{
        &:before{
            right: 0;
            transform: translate(100%, -50%);
            border-color: transparent transparent transparent var(--tip-brd);
        }
        &.side50:before{
            transform: translate(100%, 0);
            top: 50px;
        }
    }
    &.B{
        &:before{
            right: auto;
            left: 50%;
            top: 0;
            transform: translate(-50%, -100%);
            border-color: transparent transparent var(--tip-brd) transparent;
        }
    }
    &.T{
        &:before{
            top: auto;
            right: auto;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 100%);
            border-color: var(--tip-brd) transparent transparent transparent;
        }
    }
    &.error{
        background-color: var(--tip-bg-error);
        color: var(--tip-txt-error);
        border: 1px solid var(--tip-brd-error);
        &:before {
            border-color: transparent var(--tip-brd-error) transparent transparent;
        }
        &.L{
            &:before{
                border-color: transparent transparent transparent var(--tip-brd-error);
            }
        }
        &.B{
            &:before{
                border-color: transparent transparent var(--tip-brd-error) transparent;
            }
        }
        &.T{
            &:before{
                border-color: var(--tip-brd-error) transparent transparent transparent;
            }
        }
    }
}
